
services:
  db:
    image: postgres:16-alpine
    platform: linux/amd64
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: backend_app
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: frontend_app
    restart: always
    env_file:
      - .env
    depends_on:
      - backend
    ports:
      - "3000:3000"   

volumes:
  postgres_data:
